@model IEnumerable<GssZenicaApp.ViewModels.ListBorrowedViewModel>

@{
    ViewBag.Title = "Index";
}
<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Datum zaduženja</th>
            <th scope="col">Datum za razduženje</th>
            <th scope="col">Oprema</th>
            <th scope="col">Član</th>
            <th scope="col">Količina</th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var borrow in Model)
        {
            <tr>
                <th scope="row">1</th>
                <td>@borrow.DateOfBorrow</td>
                <td>@borrow.DateOfNecessaryReturn</td>
                <td>@borrow.EquipmentCategoryName</td>
                <td>@borrow.MemberName</td>
                <td>@borrow.Quantity</td>
                <td>
                    <a class="btn btn-circle" asp-controller="Borrowed" asp-action="ReturnEquipment" asp-route-id="@borrow.Id"
                       aria-label="Vrati opremu" title="Vrati opremu" data-toggle="tooltip" data-placement="top">
                        <i class="fa fa-exchange-alt text-primary"></i>
                    </a>
                </td>
            </tr>
        }
    </tbody>
</table>