@model IEnumerable<GssZenicaApp.ViewModels.ListMembershipFeeViewModel>
<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Datum članarine</th>
            <th scope="col">Član</th>
            <th scope="col">Kategorija</th>
            <th scope="col">Iznos</th>
            <th scope="col">
                <a onclick="showInPopup('@Url.Action("Create","MembershipFee",null,Context.Request.Scheme)','Dodaj članarinu')"
                   class="btn btn-primary">Dodaj</a>
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var membershipFee in Model)
        {
            <tr>
                <th scope="row">1</th>
                <td>@membershipFee.DateOfFee</td>
                <td>@membershipFee.MemberName</td>
                <td>@membershipFee.MembershipFeeCategoryName</td>
                <td>@membershipFee.Amount</td>
                <td>
                    <form asp-action="Delete" asp-controller="MembershipFee" asp-route-id="@membershipFee.Id"
                          onsubmit="return jQueryAjaxDelete(this);" class="d-inline">
                        <button type="submit" class="btn btn-circle"><i class="fa fa-trash-alt text-danger"></i></button>
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>